<!DOCTYPE html>
<html>
    <head>
        <title>Using the Giphy API</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
                      
    </head>
    <body>
        <div class="container">
            <h1>GIT THOSE GIFS</h1>
            <form method="POST" action="results">
                <p>Enter a search term here:<input name="search_term" /></p>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>


